[data-section="contact"] [name="comments"]{
    height: 200px;
}

[data-section="contact"] h2, [data-section="contact"] h3{
    text-align: center;
}

[data-section="contact"] .button{
    width: 100%;
}