[data-section="services"] h2, [data-section="faqs"] h3{
    text-align: center;
}

[data-section="services"] .faqs-start{
    margin-top: 40px;
}

[data-section="services"] .faq-title{
    font-weight: bold;
}

[data-section="services"] .accordion-title{
    font-size: 14px;
}