footer{
    padding: 30px 10px 10px 10px;
    background-color: #fdf3f3;
    margin-top: 30px;
    border-top: 1px solid #c4b1b1;
}

footer .sections{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .sections .container:not(:last-child){
    margin-bottom: 10px;
}

@media screen and (min-width: 40em){
    footer .sections{
        flex-direction: row;
    }

    footer .sections .container:not(:last-child){
        margin-bottom: 0;
    }
}

footer .switch-when .social:not(:last-child){
    margin-right: 14px;
}

footer .title{
    color: #695757;
    font-weight: bold;
    font-size: 18px;
}

footer a, footer p{
    font-size: 17px;
}

footer .social a{
    font-size: 26px;
}

footer .image-wrapper{
    margin-top: 20px;
    text-align: center;
}
footer .image-wrapper img{
    height: 125px;
}


footer p{
    margin: 0;
}

footer .switch-when.col{
    display: flex;
    flex-direction:column;
}

footer .switch-when.rw{
    display: flex;
    flex-direction:row;
}

footer .copyright{
    margin-top: 30px;
    margin-bottom: 20px;
}

footer .copyright p{
    text-align: center;
    font-style: italic;
}

