[data-section="gallery"] .title{
    text-align: center;
}

[data-section="gallery"] .image-details > .columns{
    display: flex;
    flex-wrap: wrap;
}

[data-section="gallery"] .image-details .photo-container{
    flex: 0 0 32.1%;
    margin: .5%;
    height: 150px;
    position: relative;
}

@media screen and (min-width: 40em){
    [data-section="gallery"] .image-details .photo-container{
        flex: 0 0 24%;
        height: 180px;

    }

}

@media screen and (min-width: 64.063em){
    [data-section="gallery"] .image-details .photo-container{
        flex: 0 0 18%;
        height: 220px;

    }

}


[data-section="gallery"] .image-details .photo-container .fa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #2a4430;
    opacity: 0;
    transition: opacity .5s ease-out;
}
[data-section="gallery"] .image-details .photo-container:hover .fa-search{
    opacity: 1;
}

[data-section="gallery"] .image-details .photo-container .image-div{
    transition: opacity .5s ease-out;

}

[data-section="gallery"] .image-details .photo-container:hover .image-div{
    opacity: .4;
}



[data-section="gallery"] .image-details .image-div{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;

}

@media screen and (min-width: 64em) {
    [data-section="gallery"] .image-details .image-div{
    }
}

[data-section="gallery"] .gallery-wrapper:nth-child(n+2){
    margin-top: 20px;
}

[data-section="gallery"] .special-styling iframe{
    margin-top: -60px;
}

@media screen and (min-width: 436px) and (max-width: 39.9375em) {
    [data-section="gallery"] .special-styling iframe{
        margin-top: -45px;
    }
}