[data-container="image-modal"] .orbit-container{
    min-height: 400px;
}

[data-container="image-modal"] img{
    height: 400px;
    object-fit: contain;
}

[data-container="image-modal"] .orbit-next, [data-container="image-modal"] .orbit-previous{
    background-color: hsla(0,0%,4%,.5);
}