
[data-section="menu"] nav .title-bar {
    margin-bottom: 15px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    background: #2199e8;
}

[data-section="menu"] nav .title-bar .bar-left{
    flex: 1;
    margin-left: 15px;
}

[data-section="menu"] nav .bar-left *, [data-section="menu"] nav .bar-right *{
    font-size: 14px;
}

@media screen and (min-width: 39.9375em) {
    [data-section="menu"] nav .bar-left *, [data-section="menu"] nav .bar-right *{
        font-size: 16px;
    }
}

@media screen and (max-width: 39.9375em) {

    [data-section="menu"] nav .title-bar .bar-right {
        max-width:80px;
    }
}

[data-section="menu"] nav .title-bar .bar-right a{
    margin-right: 5px;
    margin-top: 14px;
}

@media screen and (min-width: 39.9375em) {
    [data-section="menu"] nav .title-bar .title{
        font-size: 20px;
    }
}

[data-section="menu"] nav .title-bar button{
    height: 100%;
    margin: 0;
    background-color: #566d7c;
    padding: 20px;
    transition: background-color .2s ease-in;
}

[data-section="menu"] nav .title-bar button:hover{
    background-color: #6b8190;
}

[data-section="menu"] .is-open-left .fa-long-arrow-left{
    display: inline-block;
}

[data-section="menu"] .is-open-left .fa-bars{
    display: none;
}

[data-section="menu"] .fa-long-arrow-left{
    display: none;
}

[data-section="menu"] .is-drilldown .vertical{
    background: #2199e8 !important;

}

[data-section="menu"] .vertical.menu{
    background-color: #222b31;
    padding: 8px;
}

[data-section="menu"] .vertical.menu a{
    color: rgba(254, 254, 254, 1);
    transition: color .2s ease-in;
}

[data-section="menu"] .vertical.menu a:hover{
  color: rgba(254, 254, 254, 0.6);
}

[data-section="menu"] nav  li:focus, [data-section="menu"] nav  li a:focus {
    outline-width: 0px !important;
}


