[data-section="services"] h2{
    text-align: center;
}

[data-section="services"] ul:not(.accordion):first-child{
    margin-top: 20px;
}

[data-section="services"] ul:not(.accordion):nth-child(n+2){
    margin-top: 40px;
}

[data-section="services"] ul{
    margin: 0;
}
[data-section="services"] li{
    list-style-type: none;
}

[data-section="services"] .bullet-items{
    padding: 0;
}

[data-section="services"] .bullet-items .last{
    float: left !important;
}

[data-section="services"] .bullet-items .item{
    margin-bottom: 5px;
}

[data-section="services"] .bullet-items .item::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 5.5px;
    -webkit-border-radius: 5.5px;
    border-radius: 5.5px;
    background-color: #566d7c;
}

[data-section="services"] .pricing-table{
    border: solid 1px #DDDDDD;

}

[data-section="services"]  li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 14px;
    padding: 0.875rem 1.125rem;

}

@media screen and (min-width: 40em) {
    [data-section="services"]  li {
        font-size: 17px;
    }
}

[data-section="services"] .title {
    background-color: #2199e8;
    color: rgb(254, 254, 254);
    font-size: 18px;
    border-bottom: 0;
}

[data-section="services"] .price {
    background-color: #F6F6F6;
    color: #333333;
    font-size: 1.75rem;
    border-bottom: 0;
}

[data-section="services"] .description {
    color: #777777;
    font-size: 1.1rem;
}

[data-section="services"] .row.faqs {
    margin-top: 60px;
}