[data-section="testimonial"] h2{
    text-align: center;
}

[data-section="testimonial"] .images{
    display: flex;
    flex-direction: column;
    align-items: center;


}


@media screen and (min-width: 40em){
    [data-section="testimonial"] .images{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 39.9375em) {
    [data-section="testimonial"] .images img:nth-child(n+2){
        margin-top: 10px;
    }
}


[data-section="testimonial"] .images img{
    height: 210px;
    border-radius: 10px;
    width: 90%;
}

@media screen and (min-width: 40em){
    [data-section="testimonial"] .images img{
        height: 220px;
        width: 46%;
    }
}

@media screen and (min-width: 64em){
    [data-section="testimonial"] .images img{
        height: 240px;
    }
}

[data-section="testimonial"] .container {
    padding: 20px;
    background-color: #f6ddf6;
    position: relative;
}

[data-section="testimonial"] .container-wrapper{
    margin-bottom: 20px;
    margin-top: 40px;
}

[data-section="testimonial"] .container-wrapper:not(:last-child){
    border-bottom: 1px solid #afa2a2;
    padding-bottom: 30px;
}

[data-section="testimonial"] .container-wrapper p{
    padding: 0 12px;
    margin: 0;
}

[data-section="testimonial"] .container-wrapper p.not-first{
    margin-top: 8px;
}


[data-section="testimonial"] .container-wrapper .container::after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f6ddf6;
}

[data-section="testimonial"] .container-wrapper.even .container::after {

    left: 20px;

}

[data-section="testimonial"] .container-wrapper.odd .container::after {
    right: 20px;

}

[data-section="testimonial"] .container-wrapper.odd .bottom {
    text-align: right;
}

[data-section="testimonial"] .bottom{
    margin-top: 20px;
    display: flex;

}

[data-section="testimonial"] .container-wrapper.odd .bottom{
    justify-content: flex-end;
}

[data-section="testimonial"] .bottom h4{
    font-weight: bold;
}

[data-section="testimonial"] .bottom h5{
     color: #9c8b8b;
 }

