

[data-section="welcome"] h3, [data-section="welcome"] h4{
    text-align: center;
}

[data-section="welcome"] .paras-wrapper{
    margin-top: 25px;
}

@media screen and (max-width: 39.9375em) {
    [data-section="welcome"] .orbit img{
        height: 245px;
    }
}

[data-section="welcome"] .orbit img{
    max-height: 350px;
}



