

[data-section="welcome"] h2, [data-section="welcome"] h3{
    text-align: center;
}


[data-section="welcome"] .details{
    margin-top: 25px;
}



[data-section="welcome"] .image-container:not(.last){
    margin-bottom: 20px;
}

@media screen and (max-width: 39.9375em) {
    [data-section="welcome"] .orbit img{
        height: 200px;
    }
}

[data-section="welcome"] .orbit img{
    max-height: 350px;
}

[data-section="welcome"] iframe {
    width: 100%;
}

@media screen and (min-width: 39.9375em) {
    [data-section="welcome"] iframe {
        width: 500px;
    }
}



