

[data-section="welcome"] h3, [data-section="welcome"] h4{
    text-align: center;
}

[data-section="welcome"] h3{
    font-family: 'Pinyon Script', cursive;
    font-size: 32px;
}

[data-section="welcome"] .paras-wrapper{
    margin-top: 25px;
}

@media screen and (max-width: 39.9375em) {
    [data-section="welcome"] .orbit img{
        height: 200px;
    }
}

[data-section="welcome"] .orbit img{
    max-height: 350px;
}

[data-section="welcome"] iframe {
    width: 100%;
}

@media screen and (min-width: 39.9375em) {
    [data-section="welcome"] iframe {
        width: 500px;
    }
}



