

[data-section="welcome"] h2, [data-section="welcome"] h3{
    text-align: center;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    [data-section="welcome"] .video-container .columns {
        padding-left: 5rem;
        padding-right: 5rem;
    }

}
@media screen and (min-width: 64em) {
    [data-section="welcome"] .top-video-container .first{
        margin-top: 34px;
    }
}

[data-section="welcome"] li{
    list-style-type: none;
}

[data-section="welcome"]  li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 14px;
    padding: 0.875rem 1.125rem;

}

[data-section="welcome"] .pricing-table{
    border: solid 1px #DDDDDD;

}

[data-section="welcome"] .pricing-wrapper{
    margin-top: 24px;
    margin-bottom: 24px;
}

[data-section="welcome"] .title {
    background-color: #2199e8;
    color: rgb(254, 254, 254);
    font-size: 18px;
    border-bottom: 0;
}


[data-section="welcome"] .video-learn-about-me{
    margin-bottom: 10px;
}


[data-section="welcome"] .video-learn-about-me img{

    position: absolute;
    height:100%;
    width: 100%;

}

[data-section="welcome"] .video-learn-about-me > div{
    position: relative;
    width: 100%;
    height: 260px;
}

@media screen and (min-width: 40em) {
    [data-section="welcome"] .video-learn-about-me > div{

        height: 320px;
    }

}


@media screen and (min-width: 64em) {
    [data-section="welcome"] .video-learn-about-me > div{

        height: 284px;
    }

}

[data-section="welcome"] .video-learn-about-me .fa{

    position: absolute;
    top: 50%;
    left: calc(50%);
    color: blue;

}


[data-section="welcome"] .video-learn-about-me .fade {
    transition: all linear 1s;
    opacity: 1;
}

[data-section="welcome"] .video-learn-about-me .fade.ng-hide {
    opacity: 0;
}



[data-section="welcome"] .details{
    margin-top: 25px;
}

[data-section="welcome"] .image-container img{
    width: 100%;
}


[data-section="welcome"] .image-container:not(.last){
    margin-bottom: 20px;
}

@media screen and (max-width: 39.9375em) {
    [data-section="welcome"] .orbit img{
        height: 200px;
    }
}

[data-section="welcome"] .orbit img{
    max-height: 350px;
}





