<div class="row collapse">
    <div class="small-12 columns">
        <h2>{{copy.routes.about.heading}}</h2>
    </div>
</div>
<div class="row">
    <div class="small-12 columns medium-push-6 medium-6">
        <image src="{{copy.routes.about.image.imageLocation}}" alt="{{copy.routes.about.image.alt}}"></image>
    </div>
    <div class="small-12 columns medium-pull-6 medium-6">
        <div ng-repeat="rec in copy.routes.about.paras">
            <p>{{rec}}</p>
        </div>
    </div>

</div>


    </div>
</div>