<div class="row collapse">
    <div class="small-12 columns">
        <h2>{{copy.routes.contact.header}}</h2>
        <h3 ng-bind-html="copy.routes.contact.subHeader"></h3>
        <form name="contactForm">
            <label>
                *Name
                <input type="text" id="name" name="name" ng-minlength="3" ng-model="form.name"/>
            </label>
            <label>
                *Email
                <input type="email" id="email" required name="email"  ng-model="form.email"/>
            </label>
            <label>
                Phone
                <input type="tel" id="phone" name="phone"  ng-model="form.phone"/>
            </label>
            <div class="checkbox-wrapper row">
                <h4>Interested In</h4>
                <div class="small-6 medium-4 columns" ng-repeat="rec in form.checkboxModel">
                    <label>
                        <input type="checkbox" ng-model="rec.value" /> {{rec.name}}
                    </label>
                </div>

            </div>
            <label>
                Comments
                <textarea name="comments" id="comments" ng-model="form.comments"/>
            </label>
            <a class="button" ng-click="contactForm.$valid && submitForm()" ng-disabled="!contactForm.$valid">Submit</a>
        </form>
        <native-modal-dir open="openModal" id="contactModal" heading="modalHeading" body="modalBody"></native-modal-dir>

    </div>
</div>