<div class="row">
    <div class="small-12 columns">
        <h2>{{copy.heading}}</h2>
        <h3>{{copy.headingSub}}</h3>
        <div class="faqs-start" ng-repeat="rec in copy.faqCategories">
            <p>{{rec.title}}</p>
            <ul class="accordion" data-accordion="accordion{{$index}}" data-allow-all-closed="true">
                <li ng-repeat="rec2 in rec.questions" class="accordion-item"
                    ng-class="{'is-active': $index === 0}" data-accordion-item>
                    <a href="#" class="accordion-title">{{rec2.question}}</a>
                    <div class="accordion-content" data-tab-content>
                        <p>{{rec2.answer}}</p>
                        <ul ng-if="rec2.subs" class="subs">
                            <li ng-repeat="sub in rec2.subs">{{sub}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>