<footer>
    <div class="sections" >
        <div class="container" ng-repeat="rec in copy.footer.sections">
            <p class="title">{{rec.title}}</p>
            <div class="switch-on" ng-switch="rec.type">
                <div class="switch-when col" ng-switch-when="Links">
                    <a ng-repeat="rec2 in rec.content" ng-click="hashChange(rec2.hash)">{{rec2.text}}</a>
                </div>
                <div class="switch-when col" ng-switch-when="Contact">
                    <div ng-repeat="rec2 in rec.content" ng-bind-html="rec2"></div>
                </div>
                <div class="switch-when col" ng-switch-when="Default">
                    <p ng-repeat="rec2 in rec.content">{{rec2}}</p>
                </div>
                <div class="switch-when rw" ng-switch-when="Social">
                    <div class="social" ng-repeat="rec2 in rec.content">
                        <a id="facebookLink" target="_blank" ng-if="rec2.icon === 'facebook'" href="{{rec2.href}}">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                        <a id="twitterLink" target="_blank" ng-if="rec2.icon === 'twitter'">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <p>{{copy.footer.copyright}} {{now() | date : "yyyy"}}</p>
    </div>
</footer>