<div class="row collapse">
    <div class="small-12 columns">
        <h2 class="title">{{copy.routes.gallery.heading}}</h2>
    </div>
</div>
<div  ng-repeat="rec in copy.routes.gallery.photos" ng-init="parentLast = $last" class="gallery-wrapper">
    <div class="row collapse heading">
        <div class="small-12 columns">
            <h3>{{rec.title}}</h3>
        </div>
    </div>
    <div class="row collapse image-details">
        <div class="small-12 columns">
            <div class="photo-container" ng-click="photoClick($parent.$index, $index)" ng-repeat="photo in rec.photoDetails">
                <div class="image-div" title="{{photo.alt}}" ng-init="initImagesCss(parentLast && $last)" data-src="{{photo.imageLocation}}"></div>
                <i class="fa fa-search" aria-hidden="true"></i>


            </div>
        </div>
    </div>
    <image-modal-dir open="openModalArr[$index]" images="imageHash[$index]" index="$index" photoindexclicked="photoIndexClicked"></image-modal-dir>

</div>

<div  ng-repeat="rec in copy.routes.gallery.videos" class="video gallery-wrapper">
    <div class="row collapse heading">
        <div class="small-12 columns">
            <h3>{{rec.title}}</h3>
        </div>
    </div>
    <div class="row collapse video-details" ng-class="{'special-styling': rec.specialStyling }">
        <div class="small-12 columns">
            <div class="iframe-container" data-iframe="{{rec.iframe}}"></div>
            <div ng-bind-html="iframeVideoArr[$index]" ></div>
        </div>
    </div>


</div>

<div class="row credit">
    <div class="small-12 columns">
        <h4>{{copy.routes.gallery.credit.heading}}</h4>
        <p ng-repeat="rec in copy.routes.gallery.credit.data">{{rec}}</p>
    </div>
</div>


