<div class="row">
    <div class="small-12 columns">
        <h3>{{copy.routes.gallery.heading}}</h3>
    </div>
</div>
<div  ng-repeat="rec in copy.routes.gallery.photos" ng-init="parentLast = $last" class="gallery-wrapper">
    <div class="row collapse heading">
        <div class="small-12 columns">
            <h5>{{rec.title}}</h5>
        </div>
    </div>
    <div class="row collapse image-details">
        <div class="small-12 columns">
            <div class="photo-container" ng-click="photoClick($parent.$index)" ng-repeat="photo in rec.photoDetails">
                <div class="image-div" ng-init="initImagesCss(parentLast && $last)" data-src="{{photo.imageLocation}}"></div>
                <i class="fa fa-search" aria-hidden="true"></i>


            </div>
        </div>
    </div>
    <image-modal-dir open="openModalArr[$index]" images="imageHash[$index]" index="$index"></image-modal-dir>



</div>

