<div class="row">
    <div class="small-12 columns">
        <h2>{{copy.routes.services.heading}}</h2>
        <h5 ng-if="copy.routes.services.subHeading.length">{{copy.routes.services.subHeading}}</h5>
        <div class="row collapse">
            <div class="small-12 columns">
                <div class="pricing-wrapper" >
                    <ul class="pricing-table" ng-repeat = "rec in copy.routes.services.data">
                        <li class="title">{{rec.heading}}</li>
                        <li ng-if="rec.price != false" class="price">{{rec.price}}</li>
                        <li ng-if="rec.description != false" class="description">{{rec.description}}</li>
                        <div ng-repeat = "rec2 in rec.points">
                            <li ng-if="commaCount(rec2) < 11">{{rec2}}</li>
                            <li class="bullet-items" ng-if="commaCount(rec2) >11">
                                <div class="row collpase">
                                    <div ng-class="{'last': $last}" ng-repeat="item in rec2.split(',')" class="small-6 medium-4 columns item">
                                        {{item}}
                                    </div>

                                </div>
                            </li>
                        </div>



                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>