<div class="row">
    <div class="small-12 medium-10 medium-centered columns">
        <h4>{{copy.routes.services.heading}}</h4>
        <h5 ng-if="copy.routes.services.subHeading.length">{{copy.routes.services.subHeading}}</h5>
        <div class="row collapse">
            <div class="small-12 medium-12 large-10 large-centered columns">
                <div class="pricing-wrapper" >
                    <ul class="pricing-table" ng-repeat = "rec in copy.routes.services.data">
                        <li class="title">{{rec.heading}}</li>
                        <li class="price">{{rec.price}}</li>
                        <li class="description">{{rec.description}}</li>
                        <li ng-repeat = "rec2 in rec.points">{{rec2}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>