<div class="row">
    <div class="small-12 small-centered columns heading">
        <h2>{{copy.routes.welcome.heading}}</h2>
        <h3>{{copy.routes.welcome.headingSub}}</h3>
    </div>

    <div class="row">
       <div class="small-12 columns">
           <div class="video-learn-about-me">
               <div>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Vo1qCoi0bcY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div ng-show="debug === true">
               <iframe  width="560" height="315" src="https://www.youtube.com/embed/2w7fHSkU1UU?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
            </div>
       </div>


    </div>


</div>


<div class="row details">
    <div class="small-12 medium-6 large-5 columns medium-push-6 large-push-7">

        <div ng-repeat="rec in copy.routes.welcome.images" ng-class="{'last':$last}" class="image-container">
            <image src="{{rec.location}}" alt="{{rec.alt}}"></image>
        </div>
    </div>
    <div class="small-12 medium-6 large-7 columns medium-pull-6 large-pull-5">

        <div class="paras-wrapper" ng-repeat="rec in copy.routes.welcome.paras">
            <p ng-bind-html="rec"></p>
        </div>

        <div class="row collapse">
            <div class="small-12 large-9 large-centered columns">


            </div>

        </div>
    </div>

</div>







