<div class="row">
    <div class="small-12 small-centered columns heading">
        <h2>{{copy.routes.welcome.heading}}</h2>
        <h3>{{copy.routes.welcome.headingSub}}</h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="pricing-wrapper" >
            <ul class="pricing-table" ng-repeat = "rec in copy.routes.welcome.callout">
                <li class="title">{{rec.heading}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row top-video-container">
    <div class="column small-12 medium-6 first">
        <a class="preview-div" href="https://www.wbtv.com/2022/02/23/222-weddings-charlotte-couple-takes-advantage-once-in-a-lifetime-day/">
            <img src="https://gray-wbtv-prod.cdn.arcpublishing.com/resizer/d_nbBF0j4ByKfsZmAARRSwLBZHo=/980x0/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/TD2LTGUBNBGXZHWL5DI5YT6HEY.JPG"/>
            <div>2/22 Weddings: Charlotte couple takes advantage of once-in-a-lifetime day</div>
        </a>
    </div>
    <div class="column small-12 medium-6 second">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/3ZTlfbQ4n1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>



<div class="row details">
    <div class="small-12 medium-6 large-5 columns medium-push-6 large-push-7">

        <div ng-repeat="rec in copy.routes.welcome.images" ng-class="{'last':$last}" class="image-container">
            <image src="{{rec.location}}" alt="{{rec.alt}}"></image>
        </div>
    </div>
    <div class="small-12 medium-6 large-7 columns medium-pull-6 large-pull-5">

        <div class="paras-wrapper" ng-repeat="rec in copy.routes.welcome.paras">
            <p ng-bind-html="rec"></p>
        </div>

        <div class="row collapse">
            <div class="small-12 large-9 large-centered columns">


            </div>

        </div>
    </div>

</div>







